@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

nav {
	width: 100%;
	height: 60px;
	background-color: #344051;
	position: fixed;
	z-index: 10;
	border: 1px solid rgb(102, 0, 128);
}

.logo {
	color: #fff;
	font-size: 24px;
	line-height: 60px;
	float: left;
	margin-left: 40px;
	animation: coming 2s ease;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu {
	float: left;
}

.menu li {
	float: left;
	line-height: 60px;
	color: #fff;
	font-size: 14px;
	margin-left: 30px;
	text-transform: uppercase;
	animation: topshift 1s forwards ease;
	opacity: 0;
}

.menu li a {
	text-decoration: none;
}

.custom_icon {
	font-size: 25px;
	color: #8900e4;
	margin-right: 10px;

	animation-name: rotation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.main {
	width: 100%;
	height: 100%;
	background: url(boy.png) 93% 100% / auto 90% no-repeat,
		url(fone.jpg) center/cover no-repeat;
}

.title__container {
	width: 100%;
	float: left;
	color: #2c384a;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	animation: leftside 1.6s ease;
}

.title__container h1 {
	font-size: 72px;
	font-weight: bold;
}

.title__container h4 {
	margin-top: 38px;
	color: #79818d;
	font-size: 19px;
	background-color: none;
}

.title__container input {
	height: 40px;
	text-align: center;
	border: 2px solid #9708da;
	border-radius: 5px;
	background: none;
	color: #474a4e;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 13px 0px 13px;
}

.titlemain {
	font-size: 38px;
	color: #243042;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-top: 107px;
	text-align: center;
}

.titlemain_20 {
	font-size: 38px;
	margin-top: 0;

	color: #000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	position: relative;
	top: 20px;
}

.underl {
	width: 80px;
	height: 4px;
	background-color: rgb(255, 136, 0);
	margin-left: auto;
	margin-right: auto;
	margin-top: 29px;
}

.underl-sec {
	width: 80px;
	height: 4px;
	background-color: #c500c5;
	margin-left: auto;
	margin-right: auto;
	margin-top: 29px;
}

.boy1 {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

p.description1 {
	color: #3f495a;
	margin-top: 25px;
	text-align: center;
	width: 734px;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
}

p.description2 {
	color: #3f495a;
	margin-top: 42px;
	text-align: center;
	width: 734px;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
}

.firstBlock {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	max-width: 800px;
	margin: auto;
}

.firstBlock img {
	transform: scale(1);
	transform: translate(0px, 0px);
	transition: all 1s ease;
	margin-bottom: 40px;
}

.firstBlock img:hover {
	transform: scale(1.2);
}

div.firstBlock input {
	transition: all 0.5s ease;
	transform: scale(1);
	margin: 0;
}

.firstBlock input:hover {
	background-color: #243042;
	color: #fff;
	border: 2px solid aquamarine;
}

.firstBlock input:active {
	background-color: #243042;
	color: #fff;
	transform: scale(1.15);
}

div.firstBlock input {
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	border-radius: 5px;
	background: none;
	color: #686976;
	font-size: 13px;
	padding: 0px 16px;
	margin-top: 50px;
}

.secondBlock {
	background: url(secondblock.png) no-repeat;
	height: 497px;

	margin-top: 97px;
}
.secondBlock span {
	transition: all 0.1s ease;
	transform: scale(1);
}
.secondBlock span:hover {
	color: #cf7600;
	transform: scale(1.25);
}

.secondBlock h5 {
	transition: all 0.4s ease;
}

.secondBlock h5:hover {
	transform: scale(1.2);
	color: #cf7600;
}

.secondBlock img {
	transform: scale(1);
	transition: all 0.1s ease;
}

.secondBlock img:hover {
	transform: scale(1.5);
}

.secondBlock div.bloccc h3 {
	color: #cf7600;
	font-size: 18px;
}

.centerText {
	text-align: center;
	color: #3f495a;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-top: 33px;
	font-size: 17px;
}

#sob {
	width: 1570px;
	height: 588px;
	align-content: center;
	margin-left: 388px;
	margin-top: 42px;
}

#sfa {
	width: 1134px;
	height: 170px;
	margin-top: 47px;
	margin-left: 388px;
}

#sfa h3 {
	color: #3f495a;
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-bottom: 10px;
	margin-top: 11px;
	transition: all 0.3s ease;
	text-decoration: underline 2px #1c2534;
}

#sfa h3:hover {
	color: #98fb98;
}

#sfa > span {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-bottom: 10px;
	font-size: 16px;
	color: #3f495a;
}

#sfa input {
	color: rgb(255, 255, 255);
	width: 204px;
	height: 44px;
	background-color: palegreen;
	margin-top: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	border-radius: 14px;
	font-size: 20px;
	transform: scale(1);
	transition: all 0.5s ease;
}

#sfa form input:hover {
	transform: scale(1.2);
	background-color: rgb(152, 251, 243);
	color: purple;
}

#sfa form input:active {
	background-color: rgb(17, 17, 17);
	color: rgb(245, 245, 245);
}

#nameofproject {
	margin-left: 287px;
	position: relative;
	bottom: 221px;
}

.raschet {
	width: 891px;
	height: 450px;
	margin-left: 494px;
	border-bottom: 2px solid rgb(131, 131, 131);
}
.raschet select {
	transition: all 0.5s ease;
}

.raschet select:hover {
	transform: scale(1.02);
	box-shadow: 2px 2px 5px #1c2534;
}

.raschet h4 {
	margin-bottom: 20px;
	margin-top: 50px;
	font-size: 29px;
	color: #1c2534;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.raschet select {
	width: 891px;
	background-color: #eeeeee;
	padding: 23px;
}

.stoimost {
	width: 887px;
	height: 19px;
	margin-left: 494px;
	margin-bottom: 15px;
}

.stoimost span {
	font-size: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sfasf {
	border-top: 2px solid rgb(153, 153, 153);
}

.pb4 {
	background: url('https://images.unsplash.com/photo-1621872421948-2bfb530771f9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80')
		no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
	filter: blur(1px);
	width: 100%;
	height: 498px;
	position: absolute;
	z-index: -1;
}

.statistic {
	width: 180px;
	height: 154px;
	background-color: none;
	float: left;
	text-align: center;
	color: #fafcff;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-right: 100px;
}

.block4 {
	margin-top: 100px;
	margin-bottom: 250px;
}

.statistic h5 {
	font-size: 16px;
}

.statistic h2 {
	font-size: 37px;
}

.titlemain1 {
	font-size: 38px;
	color: #ffffff;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-bottom: 40px;
	text-align: center;
	position: relative;
	top: 20px;
}

.block44 {
	margin-top: 200px;
	margin-left: 438px;
}

.nemnogo_statistics {
	position: relative;
	top: 75px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.nemnogo_statistics h3 {
	transition: all 0.3s ease;
	color: white;
}

.nemnogo_statistics h3:hover {
	transform: scale(1.09);
}

.statistic h2 {
	margin: 20px 0px;
}

.statistic h5 {
	margin: 20px 0px;
}

.lorem {
	color: #243042;
	font-size: 17px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	width: 693px;
	height: 35px;
	margin: auto;
	margin-top: 50px;
	padding: auto;
	display: block;
}

.lorem22 {
	color: #243042;
	font-size: 17px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	width: 693px;
	height: 35px;
	margin: auto;
	margin-top: 10px;
	padding: auto;
}

.contacts {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	background-image: url('conts.png');

	height: 808px;
	background-repeat: no-repeat;
	border: 3px solid rgb(69, 0, 87);
	border-radius: 3px;
}

#myconts {
	font-size: 38px;
	color: #fcfcfc;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
}

#myconts span {
	transition: all 0.3s ease;
}

#myconts span:hover {
	color: #c500c5;
}

#lorr {
	color: white;
	text-align: center;
	margin-top: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 18px;
}

.steps {
	width: 135px;
	height: 72px;
	text-align: center;
	color: #fff;
}

.steps > p {
	padding: 7px;
	transition: all 0.3s ease;
}

.steps > p:hover {
	color: #c500c5;
}

.stepik {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	color: rgb(255, 255, 255);
	transition: all 0.3s ease;
	margin-bottom: 10px;
}

.stepik span {
	transition: all 0.3s ease;
}

.stepik span:hover {
	color: #c500c5;
}

.steps input {
	background-color: rgb(153, 153, 153);
	padding: 11px;
	color: rgb(255, 4, 4);
	margin: 20px;
}

.box-steps {
	text-align: center;
	height: 200px;
}

.firstin input {
	width: 354;
	height: 35px;
	padding: 13px;

	background-color: rgb(204, 204, 204);
}

.secondin input {
	width: 354;
	height: 35px;
	padding: 13px;
	margin-right: 7px;

	background-color: rgb(204, 204, 204);
}

.otprav input {
	color: white;
	border-radius: 15px;
	margin-top: 20px;
	padding: 10px;
	background: none;
	border: 2px solid white;
}

.menu li a {
	color: white;
	transition: all 0.1s;
	transform: scale(1);
	display: inline-block;
	font-weight: 500;
}

.menu li a:visited {
	color: white;
	font-weight: bold;
	display: inline-block;
}

.menu li a:hover {
	color: #c500c5;
}

.menu li a:active {
	transform: scale(1.1);
}

.title__container > input {
	transition: all 0.2s;
	transform: scale(1);
}

.title__container > input:hover {
	background: #344051;
	color: #fff;
	border: 2px solid #344051;
}

.title__container > input:active {
	transform: scale(1.1);
}

.main h1:hover {
	color: rgb(71, 30, 165);
}

.main h4:hover {
	color: rgb(57, 30, 121);
}

@keyframes coming {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes topshift {
	from {
		opacity: 0;
		margin-top: -80px;
	}
	to {
		opacity: 1;
		margin-top: 0px;
	}
}

.menu li:nth-child(2) {
	animation-delay: 0.4s;
}

.menu li:nth-child(3) {
	animation-delay: 0.7s;
}

.menu li:nth-child(4) {
	animation-delay: 1s;
}

.menu li:nth-child(5) {
	animation-delay: 1.3s;
}

.menu li:nth-child(6) {
	animation-delay: 1.6s;
}

@keyframes leftside {
	from {
		opacity: 0;
		margin-left: -800px;
	}
	to {
		opacity: 1;
		margin-left: 0px;
	}
}

.inputs input {
	border: none;
	appearance: none;
	background: none;
	background: #ffffff;
	padding: 12px;
	border-radius: 10px;
	outline: none;
}

input:focus::placeholder {
	color: transparent;
}

textarea:focus::placeholder {
	color: transparent;
}

input::placeholder {
	color: #222;
	transition: color 0.3s ease;
}

textarea::placeholder {
	color: rgb(240, 240, 240);
	transition: color 0.3s ease;
}

.inputs textarea {
	background: none;
	border: 2px solid rgb(197, 0, 197);
	border-radius: 20px;
	color: #fff;
}

.otprav {
	position: relative;
	top: 10px;
}

.contacts-min-block {
	width: max-content;
}

.otprav input {
	transform: scale(1);
	transition: all 0.2s ease;
	background-color: rgb(109, 109, 109);
}
.otprav input:active {
	transform: scale(1.2);
	border: 2px solid rgb(184, 0, 184);
	background-color: rgb(184, 0, 184);
}

.block44 img {
	transform: scale(1);
	transition: all 0.05s ease;
}

.block44 img:hover {
	transform: scale(1.4);
}

/* Прелодер */

.loader {
	width: 50px;
	height: 50px;
	border: 10px solid rgba(207, 118, 0, 0.6);
}

.firstBlock h2:hover {
	color: #ff8800;
}

.small-block {
	width: max-content;
	margin: auto;
}

.lorem_text {
	max-width: 800px;
	margin: auto;
	transform: scale(1);
	transition: all 0.5s ease;
}

.lorem_text:hover {
	transform: scale(1.03);
	color: #cf7600;
}

.lorem_text p {
	transition: all 0.6s ease;
}

.lorem_text p:hover {
	color: #cf7600;
	font-size: 17px;
}

.third_block h2 {
	transition: all 0.4s ease;
}

.third_block h2:hover {
	transform: scale(1.2);
	color: #cf7600;
}

#sob img {
	border-top: 5px solid #cf7600;
	border-radius: 20px;
	transition: all 0.4s ease;
}

#sob img:hover {
	transform: scale(1.08);
	border-top: 5px solid #e60000;
}

.dropdown-menu li a {
	text-decoration: none;
	margin-left: 6px;
	font-weight: 600;
}

.white-btn:visited {
	color: #fff;
}

.col-lg-6 {
	position: relative;
	top: 65px;
}

@media (max-width: 991px) {
	.title__container,
	.title__container h4,
	.title__container input {
		color: white;
		border-radius: 20px;
	}
	.title__container {
		background-color: rgba(0, 0, 0, 0.4);
		padding-bottom: 20px;
	}
	.title__container input {
		margin-top: 30px;
		border: 2px solid rgb(255, 255, 255);
	}

	.title__container > input:hover {
		background: #344051;
		color: #fff;
		border: 2px solid #ffffff;
	}

	.main h1:hover {
		color: rgb(149, 229, 243);
	}

	.main h4:hover {
		color: rgb(149, 229, 243);
	}
	.custom_icon {
		color: rgb(85, 123, 248);
	}
}

@media (max-width: 545px) {
	.title__container {
		width: 85%;
	}
	.main .col-lg-6 {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 603px) {
	.title__container {
		width: 85%;
	}
	.main .col-lg-6 {
		display: flex;
		justify-content: center;
	}
}

.secondBlock-blocks {
	margin: auto;
	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: center;
	gap: 6em;
}

.icons {
	margin-bottom: 20px;
}

.bloccc {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: 211px;
	height: 155px;
	font-weight: bold;
	align-content: center;
	text-align: center;
	align-self: center;
	margin-top: 100px;
}

.secondBlock h5 {
	margin-bottom: 30px;
}

.boxes-steps {
	display: flex;
	justify-content: baseline;
	flex-direction: column;
	align-items: center;
}

.contact-icons {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	gap: 3em;
}

.inputs {
	margin-top: 20px;
	width: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
}

.thirdinp textarea {
	/* max-width: 300px; */

	padding: 13px;
	background: none;
	color: rgb(255, 255, 255);
}

.reviews {
	display: flex;
	height: 400px;
	margin-bottom: 50px;
	justify-content: center;
}

.reviews-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 693px;
	gap: 30px;
	max-width: 800px;
}

.radio {
	position: relative;
	top: 20px;
}
